@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	font-size: 2rem;
}

html {
	font-size: 10px;
	/* To make REMs usage easier*/
}

ul.messages {
	height: 75vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

ul.messages li {
	padding: 1rem;
	background: #F0F0F0;
	margin: 1rem;
	border-radius: 1rem;
}

.message-text {
	padding: 0.5rem;
	
}

.bottom-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem;
	height: 15vh;
	-webkit-box-shadow: 0px -1px 4px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 4px -2px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 4px -2px rgba(0,0,0,0.75);
	background:white;
}

.bottom-bar button {
	padding: 1.4rem;
	border-radius: 50%;
	background: #FF5722;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;

}

.bottom-bar .message {
	width: 90%;
}

input, button {
	outline: none;
	border: none;

}

.top-bar {
	height: 10vh;
	width: 100%;
	background: #FF5722;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3rem;
	-webkit-box-shadow: 0px 1px 4px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 4px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 4px -2px rgba(0,0,0,0.75);
}

.username {
	margin-left: 10px;
	overflow: hidden;
}

.login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #ffffff;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 2rem;
	overflow: scroll;
}

.login-form {
	border: 1px solid #444;
	padding: 0.5rem;
	width: 100%;
}

.start {
	background: #FF5722;
	color: #fff;
	padding: 10px;
	border: none;
	margin: 1rem auto;
	width: 100%;


}

.login form {
	width: 100%;
}

.login h1 {
	font-size: 3rem;
}

.login img {
	width: 90%;
	height: auto;	
}


@media screen and (min-width: 580px) {
  .login img {
	width: 60%;
	height: auto;	
  }

}


@media screen and (min-width: 780px) {
  .login img {
	width: 40%;
	height: auto;	
  }

}

.login.slide-up {
	transition: top 1s ease;
	top: -150%;

}

